/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

/* SimpleLightbox styles */
@import url("simplelightbox/dist/simple-lightbox.min.css");

.gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* Her satırda 5 resim */
  gap: 10px;
  max-width: 1200px;
  /* Galerinin genişliğini sınırladık */
  margin: 0 auto;
  padding: 20px;
}

.gallery-item {
  flex: 0 0 230px;
  /* Her öğeyi 230px genişliğinde tut */
  height: 150px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Görüntünün alanı doldurmasını sağlar */
  transition: transform 0.3s ease;
}

.gallery-image:hover {
  transform: scale(1.05);
}